<div class="container my-3">
    <h2>of and From</h2>
    <br>
    <strong class="font-weight-bold">Ex - 01 (Of)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>
                of("Hritik", "Atharva", "Laxmi")
            </p>
            <hr>
            <ul id="elContainer1">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>
                of(&#123;a:"Hritik",b:"Atharva",c:"Laxmi"&#125;)
            </p>
            <hr>
            <ul id="elContainer2">
                <li>a: <strong>{{obsMsg.a}}</strong></li>
                <li>b: <strong>{{obsMsg.b}}</strong></li>
                <li>c: <strong>{{obsMsg.c}}</strong></li>
            </ul>
        </div>
    </div>
    <!-- From -->
    <strong class="font-weight-bold">Ex - 02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="font-weight-bold">Array</p>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>
                From(["Hritik", "Atharva", "Laxmi"])
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="font-weight-bold">Promise</p>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Promise to Obervable </strong>
            </p>
            <hr>
            <ul id="elContainer4">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="font-weight-bold">String</p>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>String to Obervable </strong>
            </p>
            <hr>
            <ul id="elContainer5">
            </ul>
        </div>
    </div>
</div>