<div class="card bg-success">
    <div class="card-header">
        <h3>Client Card</h3>
    </div>
    <div class="card-body">
        <form (submit)="sendTo()">
            <div class="form-group">
               <input name="cData" [(ngModel)]="cData" type="text" class="form-control" placeholder="Enter Some Text">
               <button type="submit" class="btn btn-sm btn-primary mt-3">Send</button>
            </div>
           </form>
    </div>
    <div class="card-footer">
        <h3>From Server: {{serverData}}</h3>
    </div>
</div>
