<div class="container mt-3 mb-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h1>{{msg}}</h1>
                </div>
                <div class="card-body">
                    <h3>{{price.toFixed(2)}}</h3>
                    <h3>{{10*80}}</h3>
                    <h3>{{getDate()}}</h3>
                    <h3>{{getTime()}}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo modi laboriosam nostrum voluptatibus earum, sed quas labore accusamus dignissimos!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="card bg-danger text-white">
                <div class="card-header">
                    <h1>Digital Watch</h1>
                </div>
                <div class="card-body">
                    <h3 class="display-3">{{time}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
