<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <h3>{{ title }}</h3>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        quia quibusdam sunt maiores veniam eos rerum repellendus magnam, aliquid
        blanditiis! Nisi dolores beatae, deleniti officiis accusantium nemo
        assumenda vel sequi officia illo laboriosam inventore vero aliquid
        deserunt cupiditate earum provident?
      </p>
    </div>
  </div>
</div>
