<div class="container my-3">
    <h2>Concat Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 01</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech Videos List: </strong>
                1,2,3,4,5
            </p>
            <hr>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 02</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Comedy Videos List: </strong>
                1,2,3
            </p>
            <hr>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 03 </strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Videos List: </strong>
                1,2,3,4
            </p>
            <hr>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Your Channel (Subscriber)</div>
                </div>
                <div class="card-body">
                    <ul id="elContainer1">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>