<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h3>Pizza Counter using Redux</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptas laudantium quam et harum, culpa veniam labore fuga illo eveniet ducimus recusandae quis quae illum deserunt saepe sunt quibusdam possimus ad tenetur. Blanditiis assumenda ratione reiciendis consectetur pariatur, saepe temporibus.</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/img/pizza.jpeg" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore fuga ducimus quaerat molestiae, minima cumque aut et pariatur tempora amet ipsum vel recusandae eaque ea excepturi. Quod nesciunt quas impedit.</p>
            <h3 class="text-success font-weight-bold">Avaiable Pizza: {{pizzaCount}}  </h3>
            <button class="btn btn-danger btn-sm" (click)="clickBuyPizza()">Buy Pizza</button>
        </div>
    </div>
</div>