<h3 class=" m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eligendi exercitationem cumque quidem corrupti doloribus porro commodi veritatis vitae nemo! Obcaecati culpa aspernatur esse voluptates sed atque cumque totam delectus.</h3>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">1.Template Driven Form Validation <a routerLink="/enroll" class="text-primary cursor-pointer">Enroll</a></li>
                <li class="list-group-item">2.Reactive Form Validation <a routerLink="/register" class="text-primary">Register</a></li>
            </ul>
        </div>
    </div>
</div>