<div class="container my-3">
    <h2>Retry, RetryWhen, Scan and Delay Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong class="font-weight-bold">Ex - 01</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Retry: </strong>
                Ex - 01
            </p>
            <hr>
            <table class="table" *ngIf="person">
                <tr>
                    <th>Id</th>
                    <td>{{person.id}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{person.name}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{person.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{person.email}}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{person.phone}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>