<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
  <a class="navbar-brand" routerLink="/">Observable & Promises</a>
  <span class="bagde badge-light py-2 px-3 rounded" *ngIf="hello">Hello Subject</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/promise">Promise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/observable">Observable</a>
      </li>

    </ul>
  </div>
</nav>