<div class="container my-3">
    <h2>Fork and join Operator</h2>
    <hr>
    <div class="row">
        <div class="col-md-3 pr-4">
            <strong>Names</strong>
            <hr>
            <select name="" id="" class="form-control" #nameRef>
                <option value="" *ngFor="let name of names" value={{name}}>{{name}}</option>
            </select>
            <br>
            <br>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>ZIP</strong>
            <hr>
            <div class="wrapper" id="elContainer1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pr-4">
            <strong>Names</strong>
            <hr>
            <select name="" id="" class="form-control" #colorRef>
                <option value="" *ngFor="let color of colors" value={{color}}>{{color}}</option>
            </select>
            <br>
            <br>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>Fork Join</strong>
            <hr>
            <div class="wrapper" id="elContainer2">
            </div>
        </div>
    </div>
</div>