<div class="container my-3">
    <h2>Tap Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong class="font-weight-bold">Ex - 01</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tap: </strong>
                Ex - 01
            </p>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-6">
            <strong class="font-weight-bold">Ex - 02</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tap: </strong>
                Ex - 02
            </p>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
    </div>
</div>