<div class="container-fluid mt-3 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-white">
                    <img [src]="getImage1()" alt="" class="img-fluid">
                    <!-- <img src={{image_1}} alt="" class="img-fluid"> -->
                </div>
                <div class="card-body">
                    <h3>{{tour[0]}}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo modi laboriosam nostrum voluptatibus earum, sed quas labore accusamus dignissimos!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-white">
                    <img [src]="image_2" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                    <h3>{{tour[1]}}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo modi laboriosam nostrum voluptatibus earum, sed quas labore accusamus dignissimos!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-white">
                    <img [src]="image_3" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                    <h3>{{tour[2]}}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo modi laboriosam nostrum voluptatibus earum, sed quas labore accusamus dignissimos!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-white">
                    <img [src]="image_4" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                    <h3>{{tour[3]}}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo modi laboriosam nostrum voluptatibus earum, sed quas labore accusamus dignissimos!</p>
                </div>
            </div>
        </div>
      
    </div>
</div>

