<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list">
                <li><a routerLink="from-event">fromEvent</a></li>
                <li><a routerLink="interval">Interval / Timer</a></li>
                <li><a routerLink="of-from">Of From</a></li>
                <li><a routerLink="to-array">toArray</a></li>
                <li><a routerLink="custom">Custom</a></li>
                <li><a routerLink="map">map</a></li>
                <li><a routerLink="pluck">pluck</a></li>
                <li><a routerLink="filter">filter</a></li>
                <li><a routerLink="tap">tap</a></li>
                <li><a routerLink="take">take</a></li>
                <li><a routerLink="retry">retry</a></li>
                <li><a routerLink="subject">subject</a></li>
                <li><a routerLink="debounce-time">Debounce Time</a></li>
                <li><a routerLink="merge">merge</a></li>
                <li><a routerLink="concat">concat</a></li>
                <li><a routerLink="merge-map">mergeMap</a></li>
                <li><a routerLink="concat-map">concatMap</a></li>
                <li><a routerLink="switch-map">switchMap</a></li>
                <li><a routerLink="zip-fork">Zip Fork</a></li>
                <li><a routerLink="catch-throw-error">catch/throw Error</a></li>
            </ul>
        </div>
    </div>
</div>