<div class="container my-3">
    <h2>Map Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 01</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>
                'Video' + data
            </p>
            <hr>
            <ul id="elContainer1">
            </ul>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 02</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>
                data => data*3
            </p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 03 </strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: </strong>
                map Object Data
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>