<div class="container my-3">
    <h2>Switch-Map Operator</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 01 | map</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos: </strong>
                ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer1">
            </ul>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 02| map + switchAll</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos: </strong>
                ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong class="font-weight-bold">Ex - 03 | switchMap</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos: </strong>
                ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>